Repository enterprisemodules/ibm_profile: changes, and which GitLab CI jobs are due for each by the changed paths.
All: MQ Acc test, IIB Acc test

MQ Acc test:
  variables:
    type: mq_machine

IIB Acc test:
  variables:
    type: iib_machine

[quality] Use different hostname in acc. tests
  Rakefile
Due: none

[quality] Add support to use specified puppet version for acceptance tests
  Rakefile
Due: none

[mq_machine] Fix RHEL 8 support
  data/defaults.yaml
  data/os-major/RedHat-8.yaml
  hiera.yaml
  manifests/mq_machine/autostart.pp
Due: MQ Acc test

Update to version 1.2.3
  CHANGELOG.md
  metadata.json
Due: none

[core] move puppet litmus tasks from rakefile to em_tasks
  .fixtures_latest.yml
  Rakefile
Due: none

[iib_machine] Fix used group id. Use same as for MQ
  data/defaults.yaml
Due: none

Update to version 1.2.4
  CHANGELOG.md
  metadata.json
Due: none

[core] added sensitive groups and users password + password generator
  .fixtures_latest.yml
  data/defaults.yaml
  hiera.yaml
  spec/classes/iib_machine_spec.rb
  spec/default_facts.yml
  spec/spec_helper.rb
Due: none

[quality] Start using the standard versions of bolt and litmus
  .fixtures.yml
  .fixtures_latest.yml
  Gemfile
  Gemfile.lock
  spec/spec_helper_acceptance_local.rb
Due: none

[iib_machine] Fix deprecation warnings
  manifests/iib_machine.pp
Due: IIB Acc test

[mq_machine] Fix deprecation warnings
  manifests/mq_machine.pp
Due: MQ Acc test

[quality] Use standard versions of litmus ans docker again
  .fixtures.yml
  .fixtures_latest.yml
  Gemfile
  Gemfile.lock
Due: none

[release] Add support for puppet 7 in the metadata
  README.md
  metadata.json
Due: none

[release] Limit number of files in the package
  .pdkignore
Due: none

Update to version 1.3.0
  CHANGELOG.md
  metadata.json
Due: none

[quality] Fix puppet 4 unit tests
  Gemfile
Due: none

[docs] Add Super powers link to playgrounds
  Gemfile.lock
  README.md
  documentation/description.md
  documentation/iib_machine.md
  documentation/iib_machine/autostart.md
  documentation/iib_machine/broker_setup.md
  documentation/iib_machine/deployments.md
  documentation/iib_machine/firewall.md
  documentation/iib_machine/groups_and_users.md
  documentation/iib_machine/limits.md
  documentation/iib_machine/packages.md
  documentation/iib_machine/server_setup.md
  documentation/iib_machine/software.md
  documentation/iib_machine/sysctl.md
  documentation/mq_machine.md
  documentation/mq_machine/authorization_setup.md
  documentation/mq_machine/autostart.md
  documentation/mq_machine/firewall.md
  documentation/mq_machine/fixpack.md
  documentation/mq_machine/groups_and_users.md
  documentation/mq_machine/limits.md
  documentation/mq_machine/manager_setup.md
  documentation/mq_machine/messaging_setup.md
  documentation/mq_machine/mq_web.md
  documentation/mq_machine/packages.md
  documentation/mq_machine/software.md
  documentation/mq_machine/sysctl.md
Due: none

[iib/mq_machine] Use generic classes for sysctl etc.
  Gemfile.lock
  data/AIX.yaml
  data/SunOS.yaml
  data/defaults.yaml
  manifests/iib_machine.pp
  manifests/iib_machine/firewall.pp
  manifests/iib_machine/firewall/firewalld.pp
  manifests/iib_machine/firewall/iptables.pp
  manifests/iib_machine/groups_and_users.pp
  manifests/iib_machine/limits.pp
  manifests/iib_machine/packages.pp
  manifests/iib_machine/sysctl.pp
  manifests/mq_machine.pp
  manifests/mq_machine/firewall.pp
  manifests/mq_machine/firewall/firewalld.pp
  manifests/mq_machine/firewall/iptables.pp
  manifests/mq_machine/groups_and_users.pp
  manifests/mq_machine/limits.pp
  manifests/mq_machine/packages.pp
  spec/acceptance/iib_machine_spec.rb
  spec/acceptance/mq_machine_spec.rb
  spec/fixtures/data/spec.yaml
Due: MQ Acc test, IIB Acc test

Update to version 1.4.0
  CHANGELOG.md
  metadata.json
Due: none

[fixpack] Update for latest version of mq_install
  manifests/mq_machine/fixpack.pp
Due: MQ Acc test

Update to version 1.5.0
  CHANGELOG.md
  metadata.json
Due: none

[quality] Added lint and removed bundler tests
  .overcommit.yml
  .rubocop.yml
Due: none

[doc] Updated docs and REFERENCE.md
  REFERENCE.md
  manifests/iib_machine.pp
  manifests/iib_machine/autostart.pp
  manifests/iib_machine/broker_setup.pp
  manifests/iib_machine/deployments.pp
  manifests/iib_machine/server_setup.pp
  manifests/iib_machine/software.pp
  manifests/init.pp
  manifests/mq_machine.pp
  manifests/mq_machine/authorization_setup.pp
  manifests/mq_machine/autostart.pp
  manifests/mq_machine/fixpack.pp
  manifests/mq_machine/manager_setup.pp
  manifests/mq_machine/messaging_setup.pp
  manifests/mq_machine/mq_web.pp
  manifests/mq_machine/software.pp
  manifests/mq_machine/sysctl.pp
Due: MQ Acc test, IIB Acc test

[em_license] Initial version. Load EM license at start
  documentation/em_license.md
  manifests/em_license.pp
  manifests/iib_machine.pp
  manifests/mq_machine.pp
Due: MQ Acc test, IIB Acc test

[quality] Start using standard versin of litmus again
  .fixtures.yml
  .fixtures_latest.yml
  Gemfile
  Gemfile.lock
  litmus.sh
Due: none

[release] Add support for AlmaLinux and Rocky
  metadata.json
Due: none

[quality] Add strict lint rules
  .puppet-lint.rc
  Gemfile
  Gemfile.lock
  manifests/em_license.pp
  manifests/iib_machine.pp
  manifests/iib_machine/autostart.pp
  manifests/iib_machine/broker_setup.pp
  manifests/iib_machine/deployments.pp
  manifests/iib_machine/server_setup.pp
  manifests/iib_machine/software.pp
  manifests/init.pp
  manifests/mq_machine.pp
  manifests/mq_machine/authorization_setup.pp
  manifests/mq_machine/autostart.pp
  manifests/mq_machine/fixpack.pp
  manifests/mq_machine/manager_setup.pp
  manifests/mq_machine/messaging_setup.pp
  manifests/mq_machine/mq_web.pp
  manifests/mq_machine/software.pp
  manifests/mq_machine/sysctl.pp
Due: MQ Acc test, IIB Acc test

Path conditions:
  MQ Acc test: any of: lib/puppet/**/*.rb, templates/**/*.*, manifests/mq_machine.pp, manifests/mq_machine/**/*.pp, specs/support/acceptance/**/*.rb, specs/acceptance/mq_machine_spec.rb
  IIB Acc test: any of: lib/puppet/**/*.rb, templates/**/*.*, manifests/iib_machine.pp, manifests/iib_machine/**/*.pp, specs/support/acceptance/**/*.rb, specs/acceptance/iib_machine_spec.rb
